[flake8]
exclude = mocks,auth/migrations/versions/*.py,auth/migrations/*.py
max-line-length = 120
inline-quotes = single
import-order-style = pep8
application_import_names =
    api,
    core,
    db,
    main,
    models,
    services
ignore = W605, E402
